

#sidebar{
	float:left;
}

#sidebar a{
	color:#4e2a84;
    padding-top: 10px;
    padding-left:20px;
    font-size: 20px;
    margin-left:-15px;

}

#queueHeader{
	padding-top: 15px;
    padding-left:20px;
    font-size: 22px;
    font-weight: bold;
    margin-left:-15px;
    text-decoration: underline;
}

#queuehelper{
	margin-top: 10px;
	color: #515151;
}
.student {
    width: 0%; /* changes to 100% onload in psychchat.js*/
    height: auto;
}


#icon-holder {
    padding-top: 25px;
}

#icon-holder p{
    padding-left: 0px;
}

#student-name{
	font-weight:bold;
}


#chatpagebox {
    height: 400px;
    width: 90%;
}

#textbar{
    margin:auto;
    width:90%; 
}